/*#7D262F fanfare kleur*/

body{
    background-image: url("/img/achtergrondlijnen.png");
    color: #7D262F;
}

.headimg{
    width: 102vw;
    margin: -1vw;
    margin-top: 2vw;
    height: 35vw;
    object-fit: cover;
}

.logo{
    height: 8vw;
    float: left;
    margin-left: 2vw;
    margin-top: -1vw;
}

.menu{
    margin-left: 30vw;
    margin-top: 2vw;
    color: black;
    font-size: 2vw;
}

ul{
    list-style: none;
}

li{
    padding-top: 2vw;
    float: right;
}

a{
    color: black;
    margin-left: 2vw;
    margin-right: 2vw;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
}

a:hover{
    color: rgb(131, 0, 0);
}

.currentsite{
    color: rgb(131, 0, 0);
}

.mainbody{
    margin-top: 3vw;
    margin-bottom: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    background-image: url("/img/achtergrondlijnen.png");
}


.mainsegment{
    margin-bottom: -1px;
    margin-left: 9vw;
    margin-right: 9vw;
    font-size: 1.25vw;
}

.welcome{
    text-align: center;
    font-size: 2.2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: -1.5vw;
    padding-bottom: 1vw;
}

.maintitle{
    color: #7D262F;
    font-size: 2vw;
    margin-bottom: 1vw;
}

.mainnieuws{
    border-top: 2px solid #7D262F;

    padding: 2vw;
    color: black;
    height: auto;
}

.mainfotoalbum{
    border-top: 2px solid #7D262F;
    margin-top: 20vw;
    padding-left: 2vw;
    padding-top: 2vw;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.5vw;
}

.albumfoto{
    width: 23vw;
    height: 15vw;
    object-fit: cover;
    float: left;
}

.kolom1foto{
    margin-left: 1vw;
    object-fit: cover;
}

.kolom2foto{
    margin-top: -2vw;
    margin-left: 26vw;
    object-fit: cover;
}

.kolom3foto{
    margin-top: -4vw;
    margin-left: 51vw;
    object-fit: cover;
}

.textinpic1{
    position: absolute;
    text-align: center;
    margin-top: 10.5vw;
    margin-left: 3vw;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
}

.textinpic2{
    position: absolute;
    text-align: center;
    margin-top: 10.5vw;
    margin-left: 6vw;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
}

.textinpic3{
    position: absolute;
    text-align: center;
    margin-top: 12.5vw;
    margin-left: 7.5vw;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
}

.meeralbums{
    padding: 1vw;
    float: right;
    color: black;
}

.mainmusic{
    border-top: 2px solid #7D262F;
    margin-top: 20vw;
    padding: 2vw;
    color: black;
}


.kolom1{
    width: 20vw;
    float: left;
}

.kolom2{
    width: 25vw;
    float: left;
    margin-left: 5vw;
    margin-top: -14.5vw;
}

.kolom2incl{
    width: 12.5vw;
    float: left;
    margin-left: 5vw;
}

.certificaat{
    width: 12.5vw;
    height: 16vw;
    object-fit: cover;
    float: left;
    margin-left: 14vw;
    margin-top: -12vw;
}

.kolom3{
    width: 20vw;
    float: right;
}

.kolom4U1{
    width: 20vw;
    float: left;
}

.kolom4U2{
    width: 25vw;
    float: left;
    margin-left: 5vw;
}

.kolom4U3{
    width: 25vw;
    float: right;
}

.music4uvid{
    width: 25vw;
    height: 15vw;
}

.mainagenda{
    border-top: 2px solid #7D262F;
    margin-top: 40vw;
    padding: 2vw;

    color: black;
}

.kolom1agenda{
    width: 20vw;
    float: left;
}

.kolom2agenda{
    width: 25vw;
    float: left;
    margin-left: 5vw;
}

.kolom3agenda{
    width: 25vw;
    float: right;
}

.rij1{
    float: left;
    margin-bottom: 1vw;
}

.rij2{
    float: left;
    margin-bottom: 1vw;
}

.rij3{
    float: left;
    margin-bottom: 1vw;
}

.datum{
    color: #7D262F;
}

.dag{
    font-size: 2vw;
}

.maand{
}

.activiteit{
    color: #000000;
    float: left;
    margin-left: 7vw;
    margin-top: -3.7vw;
}

.optreden{

}

.plaats{
    font-size: 1vw;
}

.overkop{
    text-align: center;
    font-size: 2vw;
    color: #7D262F;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: -1.5vw;
    padding-bottom: 1vw;
}

.overtext{
    text-align: center;
}

.footer{
    background-color: rgb(228, 228, 228);
    width: 100vw;
    text-align: center;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footertop{
    padding: .5vw;
    margin-left: 0vw;
}

.footerbottom{
    padding: .5vw;
}

.formbody{

}

.form{
    background: #AAAAAA;
}